<div ng-if="state">
  <div ng-switch on="state.winner">
    <h1 ng-switch-when="draw">
      Draw game. <button ng-click="restart()" class="btn btn-default">Play again?</button>
    </h1>
    <h1 ng-switch-when="x">
      {{state.x}} wins! <button ng-click="restart()" class="btn btn-default">Play again?</button>
    </h1>
    <h1 ng-switch-when="o">
      {{state.o}} wins! <button ng-click="restart()" class="btn btn-default">Play again?</button>
    </h1>
    <div ng-switch-default ng-class="'turn-'+state.turn">
      <div class="panel panel-default share">
        <div ng-click="share=!share" class="panel-heading">
          Share your game
          <span class="pull-right glyphicon glyphicon-menu-{{share?'up':'down'}}"></span>
        </div>
        <ul ng-show="share" class="list-group">
          <li class="list-group-item"><b>Link</b>: <a href="{{full_url}}">{{full_url}}</a></li>
          <li class="list-group-item"><b>Android</b>: touch your phone to your buddy's phone.</li>
          <li class="list-group-item text-center">
            <qrcode data="{{full_url}}" size="256"></qrcode>
          </li>
        </ul>
      </div>
      <p class="player player-x">
        {{state.x}}: X
      </p>
      <p class="player player-o">
        {{state.o || "Waiting..."}}: O
      </p>
    </div>
  </div>
  <div class="jumbotron board">
    <div class="row" ng-repeat="row in state.board track by $index">
      <div class="cell col-xs-4" ng-repeat="cell in row track by $index"
           ng-bind="cell || '&nbsp;'" ng-click="play($parent.$index, $index)"></div>
    </div>
  </div>
</div>
