/* This file is for your main application css. */
@import "./phoenix.css";

@keyframes highlight {
  0% {
    background-color: rgba(24, 200, 0, 0);
  }
  50% {
    background-color: rgba(24, 200, 0, 0.1);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

@keyframes pulse-bg {
  0% {
    box-shadow: 0 0 20px inset black;
  }
  50% {
    box-shadow: 0 0 40px inset black;
  }
  100% {
    box-shadow: 0 0 20px inset black;
  }
}

.right {
  text-align: right;
}

.pulse {
  animation: pulse 1s step-end 0s infinite;
}

.pulse-bg {
  animation: pulse-bg 1s ease-in-out 0s infinite;
}

button.pulse-bg:hover {
  box-shadow: 0 0 10px inset black;
  animation: none;
}

.tic-tac-toe-board {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  max-width: 480px;
  margin: 1rem auto;
  .row {
    display: flex;
    flex-direction: row;
    .cell {
      flex-grow: 1;
      border-right: 0.1rem solid rgb(24, 200, 0);
      border-bottom: 0.1rem solid rgb(24, 200, 0);
      padding: 2rem;
      text-align: center;
      cursor: default;
      &.clickable {
        cursor: pointer;
        box-shadow: 0 0 100px inset black;
        animation: highlight 1s step-end 0s infinite;
        &:hover {
          box-shadow: none;
          background-color: rgba(24, 200, 0, 0.2) !important;
        }
      }
    }
    .cell:last-child {
      border-right: none;
    }
  }
  .row:last-child {
    .cell {
      border-bottom: none;
    }
  }
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #000000;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #62e0ff;
  background-color: #000;
  border-color: #0b0e0f;
}
.alert-warning {
  color: #facdcb;
  background-color: #000;
  border-color: #0f0e0c;
}
.alert-danger {
  color: #f98482;
  background-color: #000;
  border-color: #0e0c0d;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #f98482;
  display: block;
  margin: -1rem 0 2rem;
}
